



.Pagrindinis-container{
    max-width: calc(100% - 200px);
    /* margin: 0 auto; */
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 20px;
}
.Pagrindinis-container .top-container{
    background-color: var(--white-color);
}
.Pagrindinis-container .history-containers{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.Pagrindinis-container .history-container{
    background-color: var(--white-color);
}