.Budget-container{
        padding: 20px;
        max-width: calc(100% - 250px);
        margin-top: 105px;
        margin-left: 250px;
      
}
.Budget .top-container {
    display: flex;
    justify-content: space-between;
    /* padding: 25px; */
    padding: 25px 50px;
    background-color: var(--white-color);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
  }
  .Budget .stats-containers {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 25px;
  }
  .Budget .stats-containers .stat-container,
  .Budget .compare-container,
  .Budget .budget-history{
    padding: 15px;
    color: var(--dark-color);
    background-color: var(--grey-color);
    border-radius: 5px;
    font-size: 20px;
  }
    .Budget .data,
    .Budget .from {
    width: 250px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .Budget .isleista-per-men,
  .Budget .data {
    margin-top: 20px;
  }

  .Budget .doughnut-chart-container {
    width: 500px;
    /* margin-right: 100px; */
    transition: 0.2s;
  }
  .Budget .horizontal-bar-container {
    display: flex;
    margin-top: 15px;
    /* width: 400px; */
    height: 40px;
    border-radius: 5px;
  }
  .Budget .center-container,
  .Budget .bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
  }
  .Budget .h2{
    margin-top: 30px;
    text-align: center;
    margin-left: -70px

  }
  .Budget .compares-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .Budget .multiaxis-chart-container{
    width: 800px;
  }

  .Budget .inside-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 25px;
    /* justify-content: space-around; */
    /* align-items: center; */
    
  }
  .Budget .dropdown-month {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 3px 3px 3px 20px;
    font-size: 15px;
    border: none;
    border-right: 10px solid transparent;
  }
  .Budget .dropdown-month option {
    background-color: var(--grey-dark-color);
  }
  .Budget .until{
    width: 250px;
    display: flex;
    flex-direction: row;
    gap: 63px;
  }

  .Budget .budget-container{
    display: flex;
    flex-direction: column;
  }
  .Budget .dropdown-category{
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 3px 3px 3px 20px;
    font-size: 15px;
    border: none;
    border-right: 10px solid transparent;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 30px;
    text-align: center;
  }
  .Budget .dropdown-category option{
    background-color: var(--grey-dark-color);
  }

  .Budget .budget-category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
  }

  .Budget .budget-linechart {
    display: flex;
    /* margin-top: 15px; */
    margin-left: 40px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
  }
  .Budget .horizontal-bar__pelnas,
  .Budget .horizontal-bar__islaidos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 0.9em;
    height: 100%;
    min-width: 80px;
    padding: 5px;
  }
  .Budget .horizontal-bar__pelnas {
    width: 70%;
    background-color: var(--main-color);
    border-radius: 5px 0px 0px 5px;
  }
  .Budget .horizontal-bar__islaidos {
    width: 30%;
    background-color: var(--red-color);
    border-radius: 0px 5px 5px 0px;
  }
  .Budget .dropdown-history-month{
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 3px 3px 3px 20px;
    font-size: 15px;
    border: none;
    border-right: 10px solid transparent;
  }
  .Budget .dropdown-history-month option{
    background-color: var(--grey-dark-color);
  }
  .Budget .budget-history{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 35%;

  }
  .Budget .budget-status{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding: 15px;
    color: var(--dark-color);
    background-color: var(--grey-color);
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    gap: 20px;
    
  }
  .budget-status button{
    background-color: var(--grey-color);
    border: none;
    }
    .budget-status input{
      width: 50px;
      background-color: var(--grey-color);
    }


/*limits*/
.Budget .bottom-container{
  padding: 25px 50px;
}
.budget-limits-top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.budget-limits-top-container-title{
  margin-left: 0px !important;
}
.budget-limits-dropdowns-container{
  margin-top: 15px;
  display: flex;
  gap: 20px;
}
.budget-limits-container{
  margin-top: 50px;
}
.budget-limit-container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  margin: 10px 0px;
  padding: 15px 50px;
  background-color: var(--grey-color);
  border-radius: 5px;
}
.budget-limit__category-icon{
  width: 32px;
}
.budget-limit-info{
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
.budget-limit__editBtn{
  border: unset;
  background: unset;
}
.budget-category-limit-dropdown{
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 3px 3px 3px 20px;
  font-size: 15px;
  border: none;
  border-right: 15px solid transparent;
  outline: none;
}
.budget-category-limit-dropdown option {
  background-color: var(--grey-dark-color);
}

.Budget .horizontal-bar__pelnas {
  /* width: var(--limit-width); */
  min-width: 40px;
  background-color: var(--main-color);
  border-radius: 5px 0px 0px 5px;
}

.Budget .horizontal-bar__islaidos {
  /* width: var(--spent-width); */
  min-width: 40px;
  background-color: var(--red-color);
  border-radius: 0px 5px 5px 0px;
}