*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Pagrindinis-container{
   margin-top: 100px;
    margin-left: 200px;
    width: 80%;
}
.Pagrindinis-tables-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: red;
}
.biudzetas{

    border: solid  #8a949b  1px;
    background-color: #8a949b;
    width: 20%;
    padding: 10px;
    margin: 20px;            
}
.isleista-per-men{
    border: solid  #8a949b  1px;
    background-color:#8a949b;
    width: 20%;
    margin: 20px;
    padding: 10px;

}

.ivesti_pajomos{
    max-width: 15px;
    margin: 10px;
    padding: 10px;

}
.islaidu_table{ 
    border: solid gray  1px;
    background-color: gray;
    width: 300px;
    margin: 10px;
}
