@font-face {
  font-family: 'BalooThambi2';
  font-weight: 500;
  src: url('./Assets/Fonts/BalooThambi2.ttf');
}
@font-face {
  font-family: 'Baloo Thambi 2';
  src: url('./Assets/Fonts/BalooThambi2.ttf');
}
:root{
  --main-color: #28b78d;
  --main-color_: #26a780;
  --dark-color: #243743;
  --grey-dark-color: #8a949b;
  --white-color: #fafafa;
  --grey-color: #e0e4e7;
  --red-color: #b72828;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 500;
}
body{
  background-color: var(--grey-color);
}
.green{
  color: var(--main-color);
}
.red{
  color: var(--red-color);
}
a{
  text-decoration: unset;
  color: inherit;
}
body{
  background-color: var(--grey-color);
}
.swal2-title{
  color: var(--dark-color) !important;
}
.swal2-html-container{
  color: var(--dark-color) !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: var(--main-color) !important;
}

.swal2-icon.swal2-success .swal2-success-ring{
  /* border: 0.25em solid var(--main-color) !important; */
  border: .25em solid rgba(40, 183, 141, 0.3) !important;
}
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-confirm:focus{
  box-shadow: unset !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success{
  background: var(--main-color) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error{
  background: var(--red-color) !important;
}
.disabled-filter{
  filter: grayscale(100);
}
/* .swal2-styled.swal2-confirm{
  background-color: var(--main-color) !important;
}
.swal2-styled.swal2-confirm:hover{
  background-color: var(--main-color_) !important;
} */

/**/









  /* tablet */
  /*@media screen and (max-width: 1439px) {

    
  }*/
  /* mobile */
 /* @media screen and (max-width: 767px) {

    
  }*/ 
