@font-face {
  font-family: 'Baloo Thambi 2';
  src: url('./Assets/Fonts/BalooThambi2-VariableFont_wght.ttf');
}
:root{
  --main-color: #28b78d;
  --main-color_: #26a780;
  --dark-color: #243743;
  --grey-color: #8a949b;
  --white-color: #fafafa;
  --grey-color: #e0e4e7;
  --red-color: #b72828;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Thambi 2', cursive;
}

  /* tablet */
  /*@media screen and (max-width: 1439px) {

    
  }*/
  /* mobile */
 /* @media screen and (max-width: 767px) {

    
  }*/ 