body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Thambi 2', cursive;
}
body{
  background-color: var(--grey-color);
}
.green{
  color: var(--main-color);
}
.red{
  color: var(--red-color);
}
a{
  text-decoration: unset;
  color: inherit;
}
body{
  background-color: var(--grey-color);
}
.swal2-title{
  color: var(--dark-color) !important;
}
.swal2-html-container{
  color: var(--dark-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
