.btn{
    border:none;
    text-align: center;
    width: 400px;
    height: 50px;
     background-color: #28b78d;
     border-radius: 7px;
     margin-top: 20px;
     color: #fafafa;
     font-size:small;
    
    }
    .btn:hover{
      background-color: #1f8d6d;
      transition: 0.7s;
    }

    .btn2:hover {
      background-color:#1f8d6d;
      transition: 0.7s;

  }


    .flex{
    
      border: 50px solid #e0e4e7;;
    }
  
    .btn2 {
    
      
        background-color: #243743;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 15px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
     
      }
    
    
    .forma{
        text-align:center;
        background-color: #e0e4e7;
        width: 500px;
        height: 680px;
        padding: 45px;
        margin: 90px;
        border-radius: 8px;
        margin-left: 300px;
    }
    
    .forma input{
      width: 100%;
      padding: 10px 0;
      font-size: 1rem;
      letter-spacing: 1px;
      border: none;
      margin-bottom: 10px;
      border-bottom: 2px solid black;
      outline: none;
      background-color:transparent;
      color: inherit;
    }
    .forma input:hover {
        border-bottom-color: #28b78d;
      }

      
    /* .forma input:focus::placeholder {
        color: transparent;
        color:#28b78d;
        
      } */
    .forma input:focus{
      border-bottom: 2px solid #28b78d;
    }

      .text1{
        float:left;
        color: #243743;
        
        
        
      }
    
      .prisijungimas{
        max-width: 0px;
        padding: 20px;
        margin-bottom: 100px;
        color: #243743;
      }
    
    
    
      .row{
          padding: 40px; 
          margin-top: -100px;
      
    
      }
    
    
    
      .box1{
        border:none;
        background-color:#28b78d;
        text-align:left;
        margin-top: 60px;
        border-radius: 8px;
        width: 400px;
        padding: 20px;
        height: 200px;
        background: -webkit-linear-gradient(left, #4ccba5 0%, #3cfcc4 100%); 
        font-size: small;
        color: #fafafa;
        
        
    
        
      }
      .box2{
        border:none;
        background-color:coral;
        text-align:left;
        margin-top: 60px;
        border-radius: 8px;
        width: 400px;
        padding: 20px;
        height: 200px;
        background: -webkit-linear-gradient(left, #b76f28 0%, #fcd63c 100%); 

        font-size: small;
        color: #fafafa;
        
      }
      .box3{
        border:none;
        background-color: cyan;
        text-align:left;
        margin-top: 60px;
        border-radius: 8px;
        width: 400px;
        padding: 20px;
        height: 200px;
        background: -webkit-linear-gradient(left, #287cb7 0%, #3cc8fc 100%);
        font-size: small;
        color: #fafafa;
        
    
        
      }
      .AllBox{
        margin: 50px;
        width: 500px;
    
    
      }
    
    
    
    
      .flex{
        display: flex;
        flex-direction: row;
      }
    
    
      .boxes{
        display: inline-block;
    
      }
    .text2{
      color: #243743;
    }



.form-control{
  margin-bottom: 20px;
  text-align: left;

}

.error{
  color:red;
}
.forma input.error{
  color: red;
  border-bottom: 2px solid red;
}