.regForma{
    text-align:center;
    background-color: #e0e4e7;
    width: 600px;
    height: 600px;
    padding: 55px;
    margin: 100px;
    border-radius: 8px;
    margin-left: 100px;
}


.btn2{
width: 300px;
text-decoration: none;
}



